<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestPrintString">
    <test name="Login">
        <classes>
            <class name="com.ringcentral.frolov.tests.serviceweb.Login"/>
        </classes>
    </test>
    <test name="SignUp">
        <classes>
            <class name="com.ringcentral.frolov.tests.serviceweb.SignUp"/>
        </classes>
    </test>
</suite>